example-pulse/
example-color-transfer/
example-svm-smile/
example-svm/
example-tree/
example-tsp/

# don't push project files
*.cbp
*.sln
*.vcx*
*.workspace*
config.make
Makefile
*.xcodeproj
*.plist
*.xcconfig
*.suo

*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/
project.xcworkspace

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
example-*/obj
example-*/.vscode/
build/
!data/
!/bin/data/
!/bin/data/*
!example-*/bin
example-*/bin/*
!example-*/bin/data/
!example-*/bin/data/*

.vscode/

ofxCv.wiki/

example-*/config.make
example-*/Makefile
example-*/.gitignore
.directory